<?xml versio="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<RollingFile name="RollingFile" fileName="/riking/logs/icirs/app-api.log"
					 filePattern="/riking/logs/icirs/$${date:yyyy-MM}/app-api-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout charset="UTF-8">
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="80 MB" />
			</Policies>
		</RollingFile>
		<RollingFile name="ErroFile" fileName="/riking/logs/icirs/app-api-error.log"
					 filePattern="/riking/logs/icirs/$${date:yyyy-MM}/app-api-error%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout charset="UTF-8">
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="80 MB" />
			</Policies>
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.apache.catalina.util.LifecycleBase" level="error" />
		<Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />
		<Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />
		<Logger name="org.hibernate.validator.internal.util.Version" level="warn" />
		<Logger name="org.springframework" level="info" />
		<Logger name="com.github" level="info" />
		<Logger name="net.riking" level="info" />
		<Root level="debug">
			<AppenderRef ref="RollingFile" level="info" />
			<AppenderRef ref="ErroFile" level="error" />
			<AppenderRef ref="Console" level="info" />
		</Root>
	</Loggers>
</Configuration> 